html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/**************************************** Intro ****************************************/

#introPage {
    background: url(../images/intro/MyMovieStorage-samo_pozadina.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 925px;
}

#logo {
    margin: auto;
    position: relative;
    top: 25%;
    width: 500px;
    height: 500px;
    z-index: 1;
}

#innerCircle {
    margin: auto;
    background: url(../images/intro/MyMovieStorage-unutrasnje_lampe.png) center center;
    position: absolute;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: (-50%, -50%);
    -ms-transform: (-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
}

#outerCircle {
    margin: auto;
    background: url(../images/intro/MyMovieStorage-spoljasnje_lampe.png) center center;
    position: absolute;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: (-50%, -50%);
    -ms-transform: (-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-animation: flicker-1 2s linear infinite both;
    animation: flicker-1 2s linear infinite both;
}

@-webkit-keyframes flicker-1 {
    0%, 100% {
        opacity: 1;
    }
    41.99% {
        opacity: 1;
    }
    42% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    43.01% {
        opacity: 1;
    }
    47.99% {
        opacity: 1;
    }
    48% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    49.01% {
        opacity: 1;
    }
}

@keyframes flicker-1 {
    0%, 100% {
        opacity: 1;
    }
    41.99% {
        opacity: 1;
    }
    42% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    43.01% {
        opacity: 1;
    }
    47.99% {
        opacity: 1;
    }
    48% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    49.01% {
        opacity: 1;
    }
}

#logoText {
    margin: auto;
    background: url(../images/intro/MyMovieStorage-samo_slova.png)center center;
    position: absolute;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-animation: heartbeat 1.5s ease-in-out 5 both;
    animation: heartbeat 1.5s ease-in-out 5 both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/**************************************** Header ****************************************/

#mainDiv {
    max-width: 1440px;
    padding: 0px;
    display: none;
}

header>hr {
    margin-top: 0;
    border: 1px solid #f5bc4e;
    margin-bottom: 0;
}

#mainHeader img {
    height: 100px;
}

#mainHeader {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    justify-content:flex-start;
}

.container-fluid {
    text-align: center;
    padding: 0 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#mainTitle {
    position: relative;
    background: url(../images/black-brick.jpeg);
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: auto;
    width: 1340px;
    margin-left: 0;
    margin-right: 0;
    display: block;
}

.borderAroundTitle {
    border: 3px solid #ff4444;
    border-radius: 50px;
    width: 500px;
    padding: 10px 5px;
    margin: 14.5px auto;
    box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1.2em #ff4444, 0 0 0.7em #ff4444, 0 0 0.3em #ff4444, 0 10px 3px #000;
}

h1 {
    text-align: center;
    font-family: Lato;
    font-size: 45px;
    font-weight: 700;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

h1 span {
    animation: blink1 linear infinite 2s;
}

@keyframes blink1 {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #333;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

/**************************************** Nav bar ****************************************/

#navBar {
    margin-left: 0;
    margin-right: 0;
    background-color: black;
    vertical-align: middle;
    font-family: Roboto;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#navBar>div {
    color: gold;
}

#navBar button:hover {
    animation: bounce 1s;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

button {
    width: 100px;
    height: 30px;
    border-radius: 0;
    color: gold;
    background-color: black;
    border: 1px solid black;
    display: block;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    border: 1px solid gold;
}

#registerButton {
    float: right;
}

#logInButton {
    float: right;
    margin-left: 1140px;
}

#ulogovan {
    display: none;
    float: left;
    margin-left: 840px;
    height: 30px;
    border-radius: 0;
    color: gold;
    background-color: black;
    border: 1px solid black;
    line-height: 2;
}

#ulogovan span {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

#logOutButton {
    float: right;
    margin: 0 5px;
}

#addMovieButton {
    display: none;
    width: auto;
}

/**************************************** Central content ****************************************/

#mainContent {
    overflow: hidden;
    margin: auto;
    width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#movieTableSort {
    position: relative;
    z-index: 15;
    top: -310px;
    left: -481px;
    background: black;
    color: white;
    font-family: Roboto;
    cursor: pointer;
    padding: 1px;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    outline: none;
}

#movieTableSort:focus {
    outline: none;
}

#tabelaFilm {
    border: 1px solid gray;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#tabelaFilm>div {
    border: 1px solid white;
    background-color: rgba(100, 100, 100, 0.8);
    width: 81.5px;
    height: 120px;
    margin: 15px 18px 10px 21px;
    padding: 5px;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 1;
    z-index: 2;
    color: gold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-size: contain;
    font-family: Roboto;
}

#tabelaFilm>div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#tabelaFilm img {
    width: 100px;
    height: 121px;
    position: relative;
    top: -48%;
    left: -7%;
    z-index: -1;
}

#centralContent {
    width: 1190px;
    height: 690px;
    border: 2px solid black;
    padding: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#moviePopUp {
    font-family: Roboto;
    position: absolute;
    display: none;
    width: 900px;
    height: auto;
    top: 22%;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    -webkit-animation: scale-in-center 0.5s linear both;
    animation: scale-in-center 0.5s linear both;
    cursor: pointer;
    padding: 20px;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

#moviePopUp fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    word-break: break-all;
}

#moviePopUp fieldset div {
    padding: 5px;
    font-size: 13px;
    color: white;
}

#moviePopUp span {
    font-weight: 700;
    font-size: 15px;
    color: gold;
}

#popUpTrailerButton {
    margin: 10px auto;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    color: gold;
    display: block;
}

#moviePopUpTrailer {
    font-family: Roboto;
    position: absolute;
    display: none;
    width: 600px;
    height: 500px;
    top: 23%;
    left: 40%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 12;
    -webkit-animation: scale-in-center 0.5s linear both;
    animation: scale-in-center 0.5s linear both;
    cursor: pointer;
    padding: 20px;
}

iframe {
    width: 560px;
    height: 460px;
    margin-top: 10px;
}

#remove, #removeSearch, #removeTrailer {
    z-index: 10;
    background: url(../images/close.png) no-repeat top right;
    position: absolute;
    top: -15px;
    right: -15px;
    height: 28px;
    width: 28px;
}

#remove:hover, #removeSearch:hover, #removeTrailer:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#editMoviePanel {
    color: gold;
}

#editMoviePanel legend {
    margin: 10px 0;
}

#editMoviePanel input, #editMoviePanel select {
    width: 100%;
}

#popUpPoster {
    width: 33.3%;
}

#popUpLeft {
    /* background-color: red; */
    width: 33.3%;
}

#MovieImdbPosterAddressFromStorage {
    font-size: 13px;
}

#popUpRight {
    /* background-color: green; */
    width: 33.3%;
}

#editMoviePanelButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 15px;
    /* background-color: yellow; */
    width: 100%;
}

#editMoviePanelButtons button {
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

#centralContentImage {
    background: url(../images/Polica1.jpg);
    background-position: center center;
    background-size: cover;
    width: 1090px;
    height: 590px;
    margin-left: 0;
    margin-right: 0;
    display: block;
    position: absolute;
    overflow: auto;
}

#centralContentRegistration {
    position: relative;
    background: url(../images/ulaz_u_bioskop.jpg);
    background-position: center center;
    background-size: cover;
    width: 1090px;
    height: 590px;
    margin-left: 0;
    margin-right: 0;
    display: none;
}

#centralContentReset {
    position: relative;
    background: url(../images/ulaz_u_bioskop.jpg);
    background-position: center center;
    background-size: cover;
    width: 1090px;
    height: 590px;
    margin-left: 0;
    margin-right: 0;
    display: none;
}

#centralContentLogIn {
    position: relative;
    background: url(../images/ulaz_u_bioskop.jpg);
    background-position: center center;
    background-size: cover;
    width: 1090px;
    height: 590px;
    margin-left: 0;
    margin-right: 0;
    display: none;
}

#registrationPanel {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: (-50%, -50%);
    -ms-transform: (-50%, -50%);
    text-align: center;
    display: none;
    position: absolute;
    margin: auto;
    max-width: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgb(252, 251, 231);
    padding: 20px;
}

#passwordResetPanel {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: (-50%, -50%);
    -ms-transform: (-50%, -50%);
    text-align: center;
    display: none;
    position: absolute;
    margin: auto;
    max-width: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgb(252, 251, 231);
    padding: 20px;
}

#logInPanel {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: (-50%, -50%);
    -ms-transform: (-50%, -50%);
    text-align: center;
    display: none;
    position: absolute;
    padding: 0%;
    margin: auto;
    max-width: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgb(252, 251, 231);
    padding: 20px;
}

#confirmLogIn {
    height: 40px;
    float: left;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
}

#resetLogIn {
    height: 40px;
    float: left;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

#confirmLogIn:hover, #resetLogIn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.createOrEdit {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

#registrationPanel span {
    padding: 10px;
}

#registrationPanel input {
    width: 100%;
}

#logInPanel input {
    width: 100%;
}

#buttonsRegistration {
    overflow: hidden;
}

#buttonsLogIn {
    overflow: hidden;
}

#buttonsResetPassword button {
    margin: auto;
    text-align: center;
}

#buttonsLogIn button {
    text-align: center;
    margin-bottom: 10px;
}

#createAcountRegistration {
    height: 40px;
    float: left;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 39px;
    padding: 5px;
}

#resetRegistration {
    height: 40px;
    float: left;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

#createAcountRegistration:hover, #resetRegistration:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#centralContentSearch {
    position: relative;
    background: url(../images/film-lupa.jpg);
    background-position: center center;
    background-size: cover;
    width: 1090px;
    height: 590px;
    margin-left: 0;
    margin-right: 0;
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#centralContentSearchDisplay {
    background-color: rgba(100, 100, 100, 0.5);
    margin: 10px 0;
    width: 1040px;
    height: 400px;
    padding: 20px;
}

#centralContentSearch input {
    margin-bottom: 10px;
}

#centralContentSearch button {
    margin: 0 15px;
}

#centralContentSearch span {
    color: black;
    font-size: 15px;
}

#searchButton {
    display: none;
}

#searchLabel {
    font-size: 20px;
    margin-bottom: 10px;
}

#searchPanel {
    background-color: rgb(252, 251, 231);
    padding: 20px;
    font-family: Roboto;
}

#searchPanelButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

#searchPanel fieldset {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#centralContentSearchDisplay {
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#tabelaPretraga {
    border-collapse: collapse;
    width: 1000px;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#tabelaPretraga>div {
    width: 81.5px;
    height: 120px;
    border: 1px solid black;
    margin: 5px;
    word-wrap: break-word;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-size: contain;
    color: gold;
    font-size: 12px;
    padding: 5px;
}

#movieSearchPopUp {
    font-family: Roboto;
    position: absolute;
    display: none;
    width: 900px;
    height: auto;
    top: 20px;
    left: 95px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    -webkit-animation: scale-in-center 0.5s linear both;
    animation: scale-in-center 0.5s linear both;
    cursor: pointer;
    padding: 20px;
}

#tabelaPretraga>div:hover {
    transform: scale(1.1)
}

#centralContentAddMovie {
    display: none;
}

#centralContentAddMovie {
    position: relative;
    background: url(../images/bioskop.jpg);
    background-position: center center;
    background-size: cover;
    width: 1090px;
    height: 590px;
    margin-left: 0;
    margin-right: 0;
    display: none;
}

textarea {
    width: 100%;
    height: 73px;
    resize: none;
}

#addMoviePanel {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: (-50%, -50%);
    -ms-transform: (-50%, -50%);
    text-align: center;
    display: none;
    position: absolute;
    padding: 10px;
    margin: auto;
    width: 750px;
    height: 420px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgb(252, 251, 231);
    padding: 20px;
    overflow: hidden;
}

#addMoviePanel legend {
    font-size: 20px;
}

#addMovieButtons {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    left: 25%;
}

#addMoviePanel>fieldset>div {
    float: left;
    width: 50%;
    padding: 10px;
    left: -178px;
}

#addMoviePanel input, #addMoviePanel select {
    width: 100%;
}

#addMovie {
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
}

#resetAddMovie {
    height: 40px;
    float: left;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

#centralContentUserProfil {
    text-align: center;
    display: none;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgb(252, 251, 231);
    padding: 20px;
    width: 500px;
    height: auto;
}

#centralContentUserProfil fieldset {
    width: 75%;
}

#centralContentUserProfil span {
    font-weight: 700;
}

#userProfilPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

#editUserProfile {
    height: 40px;
    float: left;
    border-radius: 5px;
    padding: 5px;
}

#confirmUserProfile {
    height: 40px;
    float: left;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

#centralContentUserProfil input, #centralContentUserProfil select {
    width: 200px;
}

#buttonsUserProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**************************************** Left content ****************************************/

#leftContent {
    width: 250px;
    height: 690px;
    padding: 20px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-family: Roboto;
    text-align: center;
}

#leftContent p {
    text-align: left;
    font-size: 15px;
    padding-left: 5px;
    margin-top: 15px;
}

#leftContent div {
    padding: 5px;
    width: 210px;
}

#movieTitle {
    height: 40px;
    font-size: 20px;
    margin: 10px 0;
    word-wrap: break-word;
}

#moviePoster {
    height: 221px;
    width: 150px !important;
    margin: auto;
    word-wrap: break-word;
    font-size: 12px;
}

#moviePoster img {
    height: 221px;
    width: 150px;
}

#movieRating {
    height: 50px;
    font-size: 35px;
    color: gold;
    margin: 10px 0;
}

#movieDirector {
    height: 65px;
    text-align: left;
    margin: 5px 0;
    font-size: 12px;
}

#movieCast {
    height: 80px;
    text-align: left;
    margin: 5px 0;
    font-size: 12px;
    word-wrap: break-word;
}

#movieStory {
    height: 100px;
    text-align: left;
    width: 227px;
    overflow: auto;
    word-wrap: break-word;
    margin: 5px 0;
    font-size: 12px;
}